body {
    background-color: #e8e2d6;
    font-family: Cambria Math, Calibri, Arial;
}
h1 {
    color: #3c5451;
    transition: color .5s ease-in-out;
}

.btn {
    cursor: pointer;
}
.clicked {
    color : #c7d4e3;
}

.form,
.greetings{
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}